export SECRET_KEY=teste
export DATABASE_URL=postgres://rupi:rupi@localhost:5432/rupi?sslmode=disable

export DB_USER=rupi
export DB_PASSWORD=change-me
export DB_NAME=rupi
export DB_PORT=5432

export GOOSE_DRIVER=postgres
export GOOSE_DBSTRING=$DATABASE_URL
export GOOSE_MIGRATION_DIR=./migrations
