export SECRET_KEY=change-me

export DB_USER=postgres
export DB_PASSWORD=postgres
export DB_NAME=linkdash_dev
export DB_PORT=5432
export DATABASE_URL=postgres://$DB_USER:$DB_PASSWORD@localhost:$DB_PORT/$DB_NAME?sslmode=disable

export GOOSE_DRIVER=postgres
export GOOSE_DBSTRING=$DATABASE_URL
export GOOSE_MIGRATION_DIR=./migrations
